body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(161, 146, 146, 0.65);
    background-image: url("images/chemistry-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;

}
header, section, footer{
    padding: 20px;
    margin: 10px;


}
header{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
h2{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
footer{
    background-color: rgba(57, 20, 51, 0.65);
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding: 15px;
}